:root{
    --sky: #0095E7;
    --blue: #0B132A;
    --black: #343434;
    --white: #F5F5F5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: poppins, sans-serif;
   font-size: 1em;
}
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.navbar-wraper{
    font-family: poppins, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    padding: 0 100px;
    z-index: 20;
}
.logo p{
   font-family: poppins, sans-serif;
   font-size: 1.5em;
   font-weight: 700;
    color: var(--sky);
    margin: 1rem;
    background-color: transparent;
}
.logo p:hover{
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}
.nav-links a{
    font-weight: 600;
    text-decoration: none;
    color: var(--sky);
    padding: 1rem;
    background-color: transparent;
}
.nav-links a:hover{
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}
section{
    background-color: var(--white);
}
.container{
    padding: 3rem 100px;
}
.container-wraper{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    gap: auto;
}
.typo{
    margin-top: 4rem;
    width: 50%;
}
h1{
    color: var(--blue);
    font-family: 'Khula', poppins, sans-serif;
    font-size: 4em;
    font-weight: 800;
    line-height: 1.15em;
}
h1 span{
    color: var(--sky);
}
.des{
    color: gray;
    margin: 3rem 0;
    font-weight: 500;
}
.btn{
    font-weight: 600;
    padding: 1rem 3rem;
    background-color: var(--sky);
    position: absolute;
    width: 14.63rem;
    height: 3.1rem;
    border: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 50%;
}
.img img{
    width: 80%;
    float: right;
}
