:root {
  --sky: #0095e7;
  --blue: #0b132a;
  --black: #343434;
  --white: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  font-size: 1em;
  min-height: 0;
  min-width: 0;
  scroll-behavior: smooth;

}
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar-wraper {
  font-family: poppins, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  padding: 0 100px;
  z-index: 20;
  background-color: var(--sky);
}
.logo p {
  font-family: poppins, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--white);
  padding: 1rem 2rem;
  margin-left: 0;
  background-color: transparent;
}
.logo p:hover {
  cursor: pointer;
  opacity: .7;
  transition: 0.2s;
}
.logo{
  margin-left: -2rem;
}
.nav-links a {
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  padding: 1rem 1.5rem;
  background-color: transparent;
}
/* button{
  border-radius: .2em;
} */
.nav-links a:hover {
  cursor: pointer;
  opacity: .7;
  transition: 0.2s;
  background-color: var(--sky);
  border-radius: 3px;
  color: var(--white);
}
#toggle-btn{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--blue);
  display: none;
}
section {
  background-color: var(--white);
  padding: 0 100px;
}
.container {
  padding: 3em 0;
}
.container-wraper {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  position: relative;
}
.typo {
  margin-top: 4em;
  width: 75%;
  font-size: 1em;
  position: absolute;
  left: 0;
}
h1 {
  color: var(--blue);
  font-family: "Khula", poppins, sans-serif;
  font-size: 4em;
  font-weight: 800;
  line-height: 0.9em;
  letter-spacing: -3px;
}
h1 span {
  color: var(--sky);
}
.des {
  color: gray;
  margin: 3em 0;
  font-weight: 500;
}
.btn {
  font-weight: 600;
  background-color: var(--sky);
  width: 12em;
  height: 3.1em;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-text{
  opacity: 100%;
  margin: -.5em -1.7em -.5em -1.7em;
  padding: .5em  1.7em  .5em  1.7em;
}
.btn a {
  color: var(--white);
  text-decoration: none;
}
.img {
  margin-left: 50%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  width: 100%;
}
.img2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img2 img {
  width: 100%;
}
.about-typo {
  width: 50%;
}
h2 {
  margin-top: 1em;
  color: var(--sky);
  font-family: "Khula", poppins, sans-serif;
  font-size: 3em;
  font-weight: 800;
  line-height: 1.15em;
  position: relative;
}
/* h2::before{
    content: "About Us";
    position: absolute;
    opacity: .1;
    font-size: 2.5em;
    top: 0;
    left: 0;
} */
.des-sec {
  color: gray;
  margin: 1em 0;
  font-weight: 500;
  text-align: justify;
}
.btn-sec {
  font-weight: 400;
  background-color: var(--sky);
  margin-top: 2em;
  padding: 0.3em .8em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-sec a {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  font-size: .8em;
  padding: 0 .7em;
}
.btn:hover{
  background-color: transparent;
  border: 1.5px solid var(--sky);
  color: var(--sky);
  box-shadow: 0px 0px 2px 0px var(--sky);
  transition: 0.2s;
}
.btn-text:hover{
  color: var(--sky);
  transition: 0.2s;

}

.btn span,
.btn-sec span {
  margin: 0.5em;
}
h3 {
  margin-top: 1em;
  color: var(--sky);
  font-family: poppins, sans-serif;
  font-size: 3em;
  font-weight: 800;
  line-height: 1.15em;
  text-align: center;
  position: relative;
}
.card-wraper {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  color: var(--sky);
  font-size: 1.5em;
  position: relative;
  margin-bottom: 1em;
}
h4:after {
  content: "";
  position: absolute;
  border-top: 2px solid var(--black);
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 140%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  width: 30%;
  position: relative;
  border-radius: 0.5em;
  background-color: white;
  height: 25rem;
}
.card span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card span img {
  width: 80%;
}
.card button {
  margin-bottom: 2em;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgb(214, 214, 214);
  transition: 0.2s;
}
.card-des {
  color: gray;
  text-align: center;
  padding: 1em;
}
/* ------------------- */
.images img {
  padding: 1em 5em;
}
.image-wraper {
  margin-top: 3em;
}
/* /////////////////////////// */
.project-image-wraper{
  margin-top: 2rem;
  display: grid;
  place-items: center;
}
.project-images{
  margin-top: 1rem;
  display: flex;
  column-count: 3;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* overflow: hidden; */
}
.pimg{
  height: 32vh;
  overflow: hidden;
}
.pimg img{
width: 25vw;
object-fit: cover;
cursor: pointer;
filter: brightness(.8);
overflow: hidden;
}
.pimg img:hover{
  filter: brightness(1);
  transform: scale(1.15);
  transition: .2s;
}
/* ------------------ */
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.contact-form img {
  width: 45%;
}
form {
  display: flex;
  flex-direction: column;
  width: 45%;
}
form input {
  margin-top: 1em;
  padding: 0.6em;
  background-color: transparent;
  border: 1px solid var(--sky);
}
form textarea {
  margin-top: 1em;
  background-color: transparent;
  border: 1px solid var(--sky);
}
.submit {
  margin-top: 1em;
  width: 7em;
  padding: 0.5em;
  background-color: var(--sky);
  border: none;
  color: var(--white);
}
textarea {
  resize: none;
}
::placeholder {
  padding: 1em;
}
.contact-section {
  padding-bottom: 3em;
}
.contact-form {
  padding: 3em 0;
}
.map {
  background-color: var(--white);
  height: 450px;
}
.map-bg {
  background-color: var(--white);
}
.footer-wraper {
  padding: 3em 100px;
  display: flex;
  justify-content: space-between;
}
.bluebond {
  /* font-size: 1.5em; */
}
.address,
.useul-links,
.download {
  width: 20%;
}
.about{
  width: 30%;
}
/* .address{
    width: 30%;
}
.useul-links{
    width: 30%;
}
.download{
    width: 30%;
} */

.about-des {
  font-size: 0.8em;
  color: gray;
  width: 75%;
}
.links {
  margin-top: 1.5em;
  display: flex;
  gap: 1em;
}
.links a {
  text-decoration: none;
  color: var(--sky);
  font-size: 0.8em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  color: var(--sky);
  margin: 1em 0;
}
.address {
  color: gray;
}
.address span {
  font-size: 0.8em;
  color: var(--sky);
  padding: 0.2em 0;
  width: 2em;
  text-align: center;
}
.address a {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
  font-family: poppins, sans-serif;
}
.useul-links a {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
}
.download a {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
}
.download span {
  color: var(--sky);
  text-align: center;
  font-size: 0.8em;
  width: 2em;
}
footer {
  background-color: var(--white);
}
.footer-copyright {
  background-color: var(--sky);
  color: white;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects {
  font-size: 1em;
}
.contact {
  font-size: 1em;
}
.languages {
  font-size: 1em;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 100% ;
}
#LanguagesUsed {
  margin-bottom: 5rem;
}
.languages{
  width: 100%;
}

.services {
  font-size: 1em;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none; 
    background-color: var(--white); 
    color: var(--sky);
    cursor: pointer;
    padding: 0em;
    width:  2.5em;
    height: 2.5em;
    border-radius: 50%;
    font-size: 1.2em;
    box-shadow: 10px 10px 20px -10px gray;
  }
  
  #myBtn:hover {
    box-shadow: 5px 5px 20px -5px rgb(68, 68, 68);
    transition: .2s;
  }
@media screen and (max-width: 1024px) {

  .nav-links a{
    padding: 1rem;
  }
  .img {
    width: 50%;
  }
@media screen and (max-width: 768px) {
  .logo{
    margin-left: 0;
  }
  .project-image-wraper{
    margin-top: 2rem;
  }
  .project-images{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .item{
    transform: scale(.7);
  }
  
  .navbar-wraper {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 0;
  }
  .nav-links {
    display: block;
  }
  .logo p,
  .nav-links a {
    padding: 1em 1em;
  }
  .nav-links a:hover {
    background-color: var(--sky);
    color: var(--white);
  }
  .img img {
    width: 100%;
  }
  section {
    padding: 0 25px;
  }

  .typo {
    font-size: 0.8em;
    opacity: 1;
  }
  h1 {
    line-height: 0.8em;
  }
  .about-typo {
    font-size: 0.8em;
  }
  .card-wraper {
    flex-wrap: wrap;
  }
  .card {
    width: 40%;
    height: 22rem;
  }
  .services {
    font-size: 0.8em;
  }
  .languages {
    font-size: 0.8em;
  }
  .projects {
    font-size: 0.8em;
  }
  .contact {
    font-size: 0.8em;
  }
  .map {
    height: 250px;
  }
  .footer-wraper {
    padding: 3em 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .address,
  .useul-links,
  .download {
    width: 30%;
    text-align: center;
  }
  .about {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-des {
    width: 25em;
  }
  .links {
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-copyright {
    font-size: 0.8em;
  }
  .services .btn {
    padding: 1em 0;
  }
  .download {
    text-align: left;
  }
  .address {
    text-align: left;
  }
}
@media screen and (max-width: 540px) {
  .image-des{
    width: 150px;
  }.project-images{
    margin-left: 10%;
  }
  .pimg img{
    width: 75vw;
    overflow: hidden;
  }
  .nav-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topbtn{
    transform: scale(.6);
  }
  /* .images {
    transform: scale(.8);
  } */
  .container-wraper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
  }
  .container {
    font-size: 0.8rem;
  }
  .typo {
    margin-top: 10rem;
    flex: 2;
    width: 100%;
    text-align: center;
    opacity: 100%;
  }
  h1 {
    letter-spacing: normal;
    line-height: 1em;
  }
  .typo btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img {
    margin: 0;
    width: 100%;
  }
  .img img {
    width: 100%;
    opacity: 0.5;
    /* filter: blur(5px); */
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .butttton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .images {
    flex-wrap: wrap;
  }
  .images img {
    margin: 1rem;
  }
  .about-typo {
    text-align: center;
    width: 100%;
  }
  .container-wraper .img2 {
    width: 80%;
  }
  .des-sec {
    text-align: center;
  }
  .card-wraper {
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
  .project-images {
    flex-direction: column;
  }
  .project-images img {
    width: 80%;
  }
  .contact-form {
    flex-direction: column;
    position: relative;
  }
  .contact-form img {
    width: 80%;
    position: absolute;
    z-index: 0;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-wraper {
    flex-direction: column;
  }
  .address,
  .useul-links,
  .download {
    width: 100%;
    text-align: center;
  }
  form {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  section{
    overflow: hidden;
  }
 .navbar-wraper{
    padding: 3rem 0;
  }
  .logo{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 2rem;
    top: 2rem;
  }
  .logo p{
    margin: 0;
    padding: 0;
  }
  
  #toggle-btn{
    display: flex;
    position: absolute;
    color: var(--white);
    right: 2rem;
    top: 2rem;
  }
  .card img{
    transform: scale(.7);
  }
  .card-des{
    width: 75%;
    padding-bottom: 1rem ;
  }
  #LanguagesUsed{
    margin: 0;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .nav-links.active {
   display: flex;
    margin-top: 3rem;
  }
  .nav-links a{
    width: 100%;
    text-align: center;
  }
  .container {
    font-size: 0.5em;
  }
  .img{
    margin-top: 15%;
    width: 150%;
    overflow: hidden;
  }
  .typo {
    margin-top:  15%;
    z-index: 1;
  }
  .typo h1{
   font-size: 2.5rem;
  }
  .des{
    font-size: .9rem;
  }
  .btn{
    /* transform: scale(2); */
    font-size: 1rem;
  }
  .about-typo{
    font-size: .8rem;
  }
  .img2{
    transform: scale(1.5);
    margin: 3rem 0;
  }
  .btn-sec{
    transform: scale(1.2);
  }
  .card{
    height: auto;
  }
  .btn{
   transform: scale(0.7);
  }
  form{
    z-index: 1;
  }
 .address, .useul-links, .download{
   text-align: center;

 }
 /* .address h5, .useul-links h5, .download h5{
  text-align: center;
} */
  .des-sec{
    font-size: .8rem;
    text-align: justify;
    font-weight: 400;
  }
  .projects h3 {
    font-size: 4em;
  }
  .contact-section {
    font-size: 0.6em;
  }
  .about-des {
    width: 80%;
  }
  .footer-copyright {
    font-size: 0.6em;
  }
  .card-des{
    font-size: .6rem;
  }
}
}